<div class="row carousel-row">
    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 carousel-holder">
      <slick settings="slickConfig">
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486360851186-slideshow.jpg" height="100%">
        </div>
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/5/11486316098924-FABALLEY-desktop_slideshow.jpg">
        </div>
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486404365561-Slideshow-1920-x-1080-px.jpg" height="100%">
        </div>
      </slick>
    </div>
    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm carousel-image-holder">
      <div class="carousel-image_stack">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486360851186-slideshow.jpg" height="100%" width="100%">
      </div>
      <div class="carousel-image_stack">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/5/11486316098924-FABALLEY-desktop_slideshow.jpg" height="100%" width="100%">
      </div>
      <div class="carousel-image_stack">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486404365561-Slideshow-1920-x-1080-px.jpg" height="100%" width="100%">
      </div>
    </div>
  </div>