<footer class="footer">
  <div class="row">
    <div class="col-lg-12 col-md-12 hidden-xs hidden-sm footer-product-links">
      <span class="footer-product-name">
        Men
      </span>
      <div class="footer-dot">
      </div>
      <span class="footer-product-name">
        Women
      </span>
      <div class="footer-dot">
      </div>
      <span class="footer-product-name">
        Kids
      </span>
      <div class="footer-dot">
      </div>
      <span class="footer-product-name">
        Accessories
      </span>
      <div class="footer-dot">
      </div>
      <span class="footer-product-name">
        Sale
      </span>
      <div class="footer-dot">
      </div>
      <span class="footer-product-name">
        Lookbook
      </span>      
    </div>
    <div class="col-lg-3 col-md-3 footer-contact">
      <div class="footer-contact-div">
        <span class="footer-contact-heading">
          BuyBlue
        </span>
        <br/>
        <span class="footer-contact-text">
          &copy; 2015 DivanRaj UI Kit. All rights reserved.
        </span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 hidden-xs hiddensm footer-links">
      <div class="footer-links-div">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-envelope">
            </i>
          </span>
          <input id="email" type="text" placeholder="Sign up for Style news" class="form-control" name="email" placeholder="Email"/>
        </div>
        <div class="link-center">
          <span class="footer-link">
            Privacy & Cookies
          </span>
          <span class="footer-link">
            Terms & Conditions
          </span>
          <span class="footer-link">
            Accessibility
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 footer-social">
      <div class="footer-social-div">
        <div class="social-share">
        <a class="btn btn-social-icon btn-twitter social-icon">
          <span class="fa fa-twitter">
          </span>
        </a>
        <a class="btn btn-social-icon btn-instagram social-icon">
          <span class="fa fa-instagram">
          </span>
        </a>
        <a class="btn btn-social-icon btn-pinterest social-icon">
          <span class="fa fa-pinterest">
          </span>
        </a>
        <a class="btn btn-social-icon btn-facebook social-icon">
          <span class="fa fa-facebook">
          </span>
        </a>
        </div>
      </div>
      <div class="footer-payment-div">
        <div class="payment-div">
        <img class="payment-image" src="assets/images/visa.png">

        <img class="payment-image" src="assets/images/paypal.png">
        </div>
      </div>
    </div>
  </div>
</footer>