<div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand glyphicon glyphicon-align-justify"></span>
      <a class="navbar-brand" href="#">BuyBlue</a>
    </div>
    <!-- Left navbar -->
    <ul class="nav navbar-nav hidden-xs hidden-sm" ng-repeat="value in category_list" data-toggle="collapse" data-target="#dropdown-menu"ng-click="toggleShowHide(value.category_id)">      
      <li class="dropdown">        
        <button class="dropbtn">{{ value.category_name }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-content" ng-repeat="sub_category in value.sub_categories">          
          <a href="#">{{ sub_category.sub_category_name }}</a>
        </ul>    
        <ul class="dropdown-content" ng-repeat="sub_category in value.sub_categories">          
          <a href="#">{{ sub_category.sub_category_name }}</a>
        </ul>    
        <ul class="dropdown-content" ng-repeat="sub_category in value.sub_categories">          
          <a href="#">{{ sub_category.sub_category_name }}</a>
        </ul>    
      </li>
    </ul>

    <!-- Right navbar -->
    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    </ul>
  </div>
</nav>
</div>