<ng-include src ="'app/common/navbar.html'"></ng-include>

<ng-include src ="'app/common/carousel.html'"></ng-include>

<div class="main-container">
  <div class="row products-row center-block">
    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 product-holder" ng-repeat="data in productData">
      <div class="product-name"> {{ data.product_name }} </div>
      <div class="product-img">
        <img src="{{ data.product_img }}" height="100%" width="100%">
      </div>
      <div class="product-details">      
        <span class="product-price" > {{ data.product_price | currency }} </span>
        <span class="label product-category" ng-class="{ 'label-warning' : data.product_type === 1, 'label-danger' : data.product_type === 2, 'label-info' : data.product_type === 3 }"> {{ data.product_category }} </span>
        <span class="product-discount-price"> {{ data.product_discount }} </span>
      </div>
    </div>  
  </div>

  <div class="row brands-row center-block">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 brands-holder" ng-repeat="brand in brandsData">
        <img src="{{ brand }}" height="100%" width="100%">
    </div>
  </div>

</div>

<ng-include src ="'app/common/footer.html'"></ng-include>