html, body{
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
}
/************ Common Variables ************/
$white : #ffffff;
$blue: #337ab7;
$caret-grey: #777777;
$grey: #999999;
$addon-grey: #555555;
$light-grey: #cccccc;
$dark-grey: #2e2e2e;


$mobile-min : 320px!default;
$mobile-max : 600px !default;
$tablet		: 768px !default;
@mixin mobile-only {
	@media (min-width: $mobile-min) and (max-width : $mobile-max) {
		@content;
	}
}
/*************** Common Styles *****************/

body {
  font-size: 14px;
}

/*************** Navbar Styles *****************/

.navbar {
  min-height: 80px;
  padding: 20px 0;
}

.navbar-default {
  background-color: $white;
  border-color: $white;
  .navbar-brand {
    color: $blue;
    font-size: 28px;
  }
}

.dropdown-menu {
  display: block;
}

.dropbtn {
  background-color: $white;
  color: $caret-grey;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: $caret-grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: $white;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }
  .dropbtn {
    background-color: $white;
  }
}

.nav .caret {
  border-top-color: $caret-grey;
  border-bottom-color: $caret-grey;
}

/*************** Container Styles *****************/

.main-container {
  margin: 0 auto;
  width: 100%;
}

.carousel-row {
  height: 600px;
  margin-top: 30px;
  overflow: hidden;
  @include mobile-only {
  	height: 350px;
  }
}

.carousel-holder {
  padding: 0;
}

.carousel-image-holder {
  padding: 0;
  height: 100%;
}

.carousel-image {
  height: 600px;
  @include mobile-only {
  	height: 350px;
  }
}

.carousel-image_stack {
  height: 200px;
}

.products-row {
  height: auto;
  padding: 0 30px;
}

.product-holder {
  height: 250px;
  padding: 20px 20px;
  border: 1px solid $light-grey;
}

.product-name {
  height: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.product-img {
  height: 150px;
  width: 200px;
  margin: 0 auto;
}

.product-details {
  margin-top: 10px;
  height: auto;
  text-align: center;
}

.product-price {
  font-size: 20px;
}

.product-category {
  position: absolute;
  left: 35px;
  bottom: 15px;
  vertical-align: middle;
}

.product-discount-price {
  float: right;
}

.brands-row {
  height: auto;
  padding: 0 30px;
}

.brands-holder {
  height: 130px;
  border: 1px solid $light-grey;
  padding: 20px 20px;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 35px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

.slick-slide img {
  height: 100%;
  width: 100%;
}

.slick-dots {
  bottom: 0px;
}

/*************** Footer Styles *****************/

.footer {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 300px;
  padding-top: 40px;
  background: $dark-grey;
  color: $white;
  @include mobile-only {
  	height: 400px;
  }
}

.footer-product-links {
  border-bottom: 1px solid $grey;
  padding-bottom: 40px;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

.footer-product-name {
  padding: 0 50px;
  font-size: 20px;
}

.footer-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  background-color: $grey;
}

.footer-contact, .footer-links {
  border-right: 1px solid $grey;
  height: 190px;
}

.footer-social {
  height: 190px;
  padding: 0;
}

.footer-contact-div {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 200px;
  text-align: center;
}

.footer-contact-heading {
  font-size: 22px;
  color: rgba(200, 200, 200, 0.9);
}

.footer-social-div {
  border-bottom: 1px solid $grey;
  height: 95px;
  @include mobile-only {
  	border: none;
  }
}

.footer-payment-div {
  height: 95px;
}

.input-group .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: $addon-grey;
  background-color: $grey;
  border-radius: 17px !important;
}

.footer-links-div {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  text-align: center;
}

.input-group {
  width: 100%;
}

.footer-link {
  padding: 0 50px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(200, 200, 200, 0.9);
}

.link-center {
  text-align: center;
  margin-top: 10px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: $addon-grey;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  position: absolute;
  margin-left: 10px;
  z-index: 10;
  border: 0 !important;
}

.social-share {
  position: relative;
  width: 100%;
  top: 20px;
  text-align: center;
}

.social-icon {
  margin: 0 15px;
}

.payment-div {
  position: relative;
  width: 100%;
  top: 20px;
  text-align: center;
}

.payment-image {
  width: 80px;
  margin: 0 15px;
}